<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="text" name="title" [ngModel]="post?.title" required minlength="3" #title="ngModel" placeholder="Post title">
      <mat-error *ngIf="title.invalid">No title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput name="content" [ngModel]="post?.content" required #content="ngModel" placeholder="Post content"></textarea>
      <mat-error *ngIf="content.invalid">No Content</mat-error>
    </mat-form-field>
    <button mat-raised-button
    color="primary">Save</button>
  </form>

</mat-card>
